@import 'components/variables.less';
@import 'components/mixin.less';

@import 'components/normalize.less';

@import 'components/base.less';
@import 'components/type.less';
@import 'components/button.less';
@import 'components/form.less';

@import 'components/layout.less';
@import 'components/section.less';
@import 'components/list.less';
@import 'components/navbar.less';
@import 'components/card.less';

@import 'components/background.less';

.unstyle{
	list-style: none;
	margin: 0;
	padding: 0;
}

.inverse{
	color: #fff;
}

.column-left, .column-right{
	width: 50%;
	@media all and (max-width: 750px){
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}
}

.container, .navbar>.container {
	@media all and (min-width: 1200px){
		width: @container-width;
	}
	@media all and (max-width: 1200px){
		max-width: @container-width;
	}
}

//header
	.header{
		width: 100%;
		position: fixed;
		z-index: 1000;
		top: 0;
		background-color: #fff;
	}

//navbar
	.hook-navbar() {
		>.container{
			width: 100%;
			display: flex;
			@media all and (max-width: @navbar-breakpoint){
				flex-direction: column;
			}
			justify-content: space-between;
			align-items: center;
		}
		.is-active{
			background-color: #f8f9fb;
			border-bottom: 4px solid @global-primary-background;
		}
		&-header{
			display: flex;
			width: 100%;
			min-height: 100px;
			justify-content: space-between;
			align-items: center;
		}
	};
	.navbar-header{
		@media all and (min-width: @navbar-breakpoint){
			height: 100%;
		}
		
	}
	.hook-navbar-brand() {};
	.hook-navbar-nav() {};
	.hook-navbar-item() {
		
		
	};
	.hook-navbar-link() {
		display: block;
		padding: 45px 25px;
		border-bottom: 4px solid transparent;
		text-transform: capitalize;
		font-size: 15px;
		color: @global-color;
		&:hover{
			background-color: #f8f9fb;
		}
	};
	.hook-navbar-toggler() {
		display: block;
		width: 40px;
		
		.icon-bar{
			display: block;
			height: 4px;
			border-radius: 4px;
			background-color: currentcolor;
			+ .icon-bar{
				margin-top: 8px;
			}
		}
	};
	.hook-navbar-collapse() {
		width: 100%;

	};
	.collapse{
		display: flex;
		flex-direction: column;
		padding: 0;
		>.navbar-nav{
			flex-direction: column;
			width: 100%;
		}
		.navbar-link{
			padding: 20px;
			text-align: center;
			&:hover{
				background-color: #f8f9fb;
			}
		}
	}

//section
	.hook-section() {
		padding-top: 100px;
		padding-bottom: 100px;
		@media all and (max-width: 750px){
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.container{
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
		}
		&-content{
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			justify-content: center;
			align-items: center;
		}
	};
	.hook-section-header() {
		font-size: 42px;
		text-transform: capitalize;
		text-align: center;
		margin-bottom: 100px;
		@media all and (max-width: 750px){
			margin-bottom: 50px;
		}
	};
	.hook-section-body() {
		display: flex;
		flex-wrap: wrap;
	};
	.hook-section-footer() {};
	.hook-section-heading() {};
	.hook-section-description() {};
	.hook-section-overlay() {
		*&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: inherit;
			opacity: 0.6;
			z-index: -10;
		}
	};
	.hook-section-fill-height() {};
	.hook-section-misc() {};

//main-section
	.main-section{
		margin-top: 100px;
		position: relative;
		padding: 0;
		.h1{
			font-weight: 600;
			font-size: 63px;
			text-align: center;
			@media all and (max-width: 500px){
				font-size: 40px;
			}
			@media all and (max-width: 720px){
				max-width: 80%;
			}
		}
		.description{
			max-width: 380px;
			font-size: 23px;
			text-align: center;
			margin-bottom: 50px;
		}
		.button{
			background-color: transparent;
			border: 3px solid #fff;
			border-radius: 5px;
			padding: 18px 38px;
			font-weight: 600;
			font-size: 26px;
			&:hover {
				background-color: @global-primary-background;
			}
			
		}
	}

//team
	.team{
		.card{
			width: 23%;
			@media all and (max-width: 950px){
				width: 48%;
				margin-bottom: 50px;
			}
			@media all and (max-width: 650px){
				width: 100%;
			}
		}
		.card-hover{
			position: absolute;
			bottom: 65%;
			left: 50%;
			transform: translate(-50%);
			display: none;
		}
		.card-img{
			position: relative;
			margin-top: 30px;
			margin-bottom: 60px;
			position: relative;
			@media all and (max-width: 950px){
				margin-top: 20px;
				margin-bottom: 30px;
			}
			&:hover~.card-hover{
				
					display: block;
				
			} 
		}
		.card-heading{
			font-size: 22px;
		}
		.card-description{
			margin: 15px auto;
		}

		.card-text{
			width: 100%;
		}
	}

//plans
	.plans{
		.card{
			@media all and (max-width: 850px){
				width: 60%;
				margin: 40px auto;
			}
			@media all and (max-width: 600px){
				width: 80%;
			}
			width: 31%;
			background-color: #fff;
			border: none;
			border-radius: 2px;
			padding: 0;
			&-header{
				width: 100%;
				border-radius: 2px 2px 0 0;
				background-color: #485460;
				padding: 15px;
			}
			&-heading{
				font-size: 26px;
			}
			&-body{
				width: 100%;
				.price{
					background-color: #f8f9fb;
					border-bottom: 1px solid #ecf0f1;
					height: 68px;
					line-height: 68px;
					font-size: 20px;
				}
				>span{
					color: #9ea3a8;
					width: 100%;
					min-height: 45px;
					border-bottom: 1px solid #ecf0f1;
					line-height: 45px;
				}
			}
			&-footer{
				width: 100%;
				border-radius: 0 0 2px 2px;
				background-color: #f8f9fb;
				padding: 29px 0;
				.button{
					padding: 12px 50px;
					font-size: 17px;
					font-weight: 600;
										
				}
			}
		
		}
	}

//form
	.hook-form() {};
	.hook-form-group() {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	};
	.hook-form-control() {
		margin-bottom: 25px;
	};
	.hook-form-control-placeholder() {};
	textarea.form-control {
		min-height: 180px;
		width: 100%;
	}
	.f-sm{
		width: 48%;
		display: inline-block;
		@media all and (max-width: 500px){
			width: 100%;
		}
	}

//footer
	.footer{
		position: relative;
		min-height: 682px;
		.column-left{
			color: #9ea3a8;
			.heading{
				font-size: 24px;
			}
			.description{
				width: 80%;
				@media all and (max-width: 750px){
					width: 100%;
				}
			}
			.social{
				margin: 35px 0 20px;
			}
			.social-item{
				display: inline-block;
				width: 42px;
				height: 42px;
				margin-right: 14px;
				line-height: 42px;
				text-align: center;
				border-radius: 50px;
				font-size: 22px;
				padding-top: 2px;
				background-color: #3ec2f3;
				>a{
					text-decoration: none;
					color: #fff;
					display: block;
					width: 100%;
					height: 100%;
					&:hover{
						color: #485460;
					}
				}
			}
			.blue{
				background-color: #3b5997;
			}
			.red{
				background-color: #e44c41;
			}
			.info{
				display: block;
				margin-bottom: 12px;
				font-family: 'MyriadPro';
			}
		}

		.column-right{

			.button{
				padding: 12px 60px;
				font-size: 22px;
				float: right;
				@media all and (max-width: 500px){
					float: none;
				}
			}
		}

	}

//slider
	.bx-wrapper .bx-viewport{
		border: none;
	}
	.bxslider{
		padding: 0;
	}
	.bxslider>li{
		min-height: 566px;
		@media all and (max-width: 400px){
			min-height: 500px;
		}
		display: flex;
		@media all and (max-width: 840px){
			display: none;
			&:first-child{
				display: flex;
			}
		}

	}
	.bx-wrapper .bx-prev {
		left: 25px;
		background: url(../img/prev.png);
	}
	.bx-wrapper .bx-next {
		right: 25px;
		background: url(../img/next.png);
	}
	.bx-wrapper .bx-controls-direction a {
		width: 51px;
		height: 51px;
	}


